@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.banner {
  display: block;
}
.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100px;
  cursor: pointer;
  animation: float 6s ease-in-out infinite;
}
.hero_text {
  font-family: "Lato", sans-serif;
  margin: 6% 10% 10% 5%;
  font-size: 20px;
  padding: 10%;
  padding-right: 5%;
  border-color: aliceblue;
  text-align: left;
  position: absolute;
  top: 60%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero_text p {
  font-weight: 400;
}

.hero_text a {
  background-color: rgb(14, 139, 3);
  padding: 1%;
  border-radius: 5px;
  font-size: 20px;
}
.hero_text a:hover {
  background-color: rgb(22, 117, 22);
  transition-delay: 0.1s;
}

.sobre {
  display: flex;
}
.sobre_column {
  flex: 50%;
  float: left;
  background-color: black;
  color: rgb(255, 248, 248);
}
.sobre_column p {
  margin: 10px;
}
.sobre_column_min {
  text-align: left;
  padding: 15% 10% 0% 5%;
  font-size: 14px;
}

.footer {
  text-align: center;
  font-size: 10px;
  background-color: rgb(182, 179, 179);
  padding: 5%;
}

.SociaisA {
  border-radius: 10px;
  padding: 5%;
  text-align: center;
  background-color: rgb(172, 56, 56);
}

.SociaisA a:hover {
  color: grey;
  cursor: pointer;
}
.SociaisA li {
  padding: 1%;
  list-style-type: none;
  background-color: black;
}

.SociaisA img {
  width: 20px;
  margin: 0px 8px 0px 0px;
}
.Soci {
  background-color: rgb(0, 0, 0);
  padding: 3%;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .hero_text {
    top: 20%;
    font-size: 8px;
  }
  .hero_text a {
    padding: 2%;
    font-size: 10px;
  }
  .sobre {
    display: grid;
  }
  .sobre_column_min {
    padding: 10%;
    font-size: 15px;
  }
}
