.main html {
  scroll-behavior: smooth;
}

.MainNav {
  background-color: rgb(253, 253, 253);
  top: 0;
  overflow: hidden;
  width: 100%;
  box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

.navbar {
  margin-top: 1%;
  overflow: hidden;
  width: 100%;
  transition-timing-function: ease;
}

.navbar li {
  font-size: 10px;
  display: inline;
  padding: 0% 3% 3% 0%;
  cursor: pointer;
}

.navbar a:hover {
  color: rgb(171, 172, 171);
}
.GitImg {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 600px) {
  .navbar li {
    margin-right: 15px;
  }
  .MainNav a {
    font-size: 10px;
  }
}
